/*==== GLOBAL STYLES ====*/

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  user-select: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 32rem;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 5rem;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

input[type="text"] {
  padding: 2rem 3rem;
  font-size: 2rem;
  outline: transparent;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
}
input:hover,
input:focus {
  border-color: #646cff;
}

button {
  padding: 2rem;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  background-color: #1a1a1a;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*==== HEADER ====*/

header {
  width: 100%;
  text-align: center;
  padding: 4rem 0;
}

header h1{
  font-family: 'Oleo Script', cursive;
  margin-top: 4rem;
}

/*==== TODO CONTAINER ====*/

.todo-container {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center; 
}

/*==== TODO INPUT WRAPPER ====*/

.input-wrapper {
  margin: 0;
}

.todo-input{
  font-family: serif;
  word-spacing: 4px;
}

.todo-input::placeholder {
  font-size: 2rem;
  word-spacing: 2px;
}

.todo-add-btn {
  margin-left: 0.5rem;
}

@media screen and (max-width: 400px) {
.todo-input {
    width: 275px;
  }  
}

/*==== TODO ====*/

.todo-list-wrapper {
  margin-top: 5rem;
  max-height: 50rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

.todo {
  position: relative;
  background-color: #3b3b3b;
  padding: 2rem 2rem;
  margin-bottom: 1.5rem; 
  border-radius: 10px;
  font-family: serif;
  font-size: 2rem;
  list-style: none;
  border: 1px solid transparent;
  transition: all 0.25s ease;
}
.todo:hover {
  border-color: #646cff;
}

.remove-todo {
  opacity: 0;
  transform: translateY(2rem);
}

.checked {
  background-color: #545454;
  text-decoration: line-through;
}

/*==== TODO BUTTONS ====*/

.fa-check,
.fa-trash {
  pointer-events: none;
}

.completed-btn,
.trash-btn {
  background-color: #242424;
  border: none;
  outline: none;
  padding: 0.7rem;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.completed-btn:focus,
.trash-btn:focus {
  outline: none
}

.completed-btn {
  right: 5rem;
}
.trash-btn {
  right: 1rem;
}

.completed-btn:hover {
  color: green;
}
.trash-btn:hover {
  color: red;
}

/*==== Footer ====*/

footer {
  width: 100%;
  min-height: 8rem;
  justify-content: flex-end;
  background-color: #545454;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer p {
  font-size: 1.5rem;
  font-family: 'Oleo Script', cursive;
  letter-spacing: 1px;
}